<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    current user is <%= User.username%>
    <h1><%= title %> page </h1>
    <p>Welcome to <%= title %> page </p>

    <a href="/logout"><input type="button" value ="logout" ></a>
  </body>
</html>
